extends menu.pug

block append scripts
  script(src="/javascripts/list.js")

block content

    select#year
        option(selected)=moment().format('YYYY')
        option=moment().add(1,'years').format('YYYY')
        option=moment().add(2,'years').format('YYYY')
        option=moment().add(3,'years').format('YYYY')

    select#month
        each month,index in months
            if index === moment().add(-1,'month').format('M')
                option(value=index selected)=month
            else
                option(value=index)=month

    if type === "debtor"

        a(class="btn btn-backend m-3" id="setAsAccepted" ) Set as Accepted
        a(class="btn btn-backend m-3" id="setAsRejected" ) Set as Rejected

        .col-sm#listinstructionsD-container(data-idCompany=idCompany)
            table.table.table-hover.mt-5(data-title='LISTADO DE EGRESOS')
                thead
                    tr
                        th 
                            input(type="checkbox" name="select_all" value="1" id="table-select-all")
                        th.id ID
                        th.payment_matrix Payment Type
                        th.creditor Creditor
                        th.debtor Debtor
                        th.amount Amount
                        th.amount_gross Amount Gross
                        //th.status Status
                        th.status_bill Status Billed
                        th.status_paid Status Paid
                        th.folio DTE Folio
                        th.type_dte DTE Type
                        th.urlDTE URL DTE
                        th.accept_dt DTE Accept Date
                        th.accept_st DTE Accept Status
                        
    else    

        a(class="btn btn-backend m-3" id="createInvoice" ) Create Invoices

        .col-sm#listinstructionsC-container(data-idCompany=idCompany)
            table.table.table-hover.mt-5(data-title='LISTADO DE INGRESOS')
                thead
                    tr  
                        th 
                            input(type="checkbox" name="select_all" value="1" id="table-select-all")
                        th.id ID
                        th.payment_matrix Payment Type
                        th.creditor Creditor
                        th.debtor Debtor
                        th.amount Amount
                        th.amount_gross Amount Gross
                        //th.status Status
                        th.status_bill Status Billed
                        th.status_paid Status Paid
                        th.folio DTE Folio
                        th.type_dte DTE Type
                        th.urlDTE URL DTE
                        th.accept_dt DTE Accept Date
                        th.accept_st DTE Accept Status
