extends ../layout

block sub-header

block append scripts
  script(src="/javascripts/list_instructions.js")

block content

    form.form-inline

        select#idCompany.ml-3.mr-3.form-control
            each plant in plants
                option(value=plant.company_cen_id)=plant.company_cen_id + " - " + plant.company_cen_name

        select#year.mr-3.form-control
            option(selected)=moment().format('YYYY')
            option=moment().add(1,'years').format('YYYY')
            option=moment().add(2,'years').format('YYYY')
            option=moment().add(3,'years').format('YYYY')
            option=moment().add(-1,'years').format('YYYY')
            option=moment().add(-2,'years').format('YYYY')
            option=moment().add(-3,'years').format('YYYY')

        if moment().format('D') <= 20 
            select#month.form-control
                each month,index in months
                    if index === moment().add(-1,'month').format('M')
                        option(value=index selected)=month
                    else
                        option(value=index)=month
        else
            select#month.form-control
                each month,index in months
                    if index === moment().format('M')
                        option(value=index selected)=month
                    else
                        option(value=index)=month
        


        
        a(class="btn btn-backend m-3" id="createInvoice" ) Create Invoices
        
        a(class="btn btn-backend m-3" id="setAsPaid" ) Set as Paid
        

        a(class="btn btn-backend m-3" id="save" style="display: none" ) Save
        a(class="btn btn-backend m-3" id="cancel" style="display: none" ) Cancel
        
    .col-sm#listinstructionsC-container
        table.table.table-hover.mt-5(data-title='LIST OF SALES INVOICE')
            thead
                tr  
                    th 
                        input(type="checkbox" name="select_all" value="1" id="table-select-all")
                    th.id ID
                    th.payment_matrix Payment Type
                    th.creditor Creditor
                    th.debtor Debtor
                    th.amount Amount Net
                    th.amount_gross Amount Gross
                    th.status_bill Status Billed
                    th.status_paid Status Paid
                    th.status_paid2 Status Paid 2
                    th.folio DTE Number
                    th.type_dte DTE Type
                    th.urlDTE URL DTE
                    th.accept_st DTE Acceptance Status
                    th.accept_dt DTE Acceptance Date
                    th.paid_ts Payment Date
