extends menu

block append scripts
  script(src="/javascripts/list_dashboard3.js")

block content
  
    form.form-inline.mt-3
            select#idCompany.ml-3.mr-3.form-control
                each plant in plants
                    option(value=plant.company_cen_id)=plant.company_cen_id + " - " + plant.company_cen_name

            select#year.mr-3.form-control
                option(selected)=moment().format('YYYY')
                option=moment().add(1,'years').format('YYYY')
                option=moment().add(2,'years').format('YYYY')
                option=moment().add(3,'years').format('YYYY')
                option=moment().add(-1,'years').format('YYYY')
                option=moment().add(-2,'years').format('YYYY')
                option=moment().add(-3,'years').format('YYYY')

            select#month.form-control
                each month,index in months
                    if index === moment().add(-1,'month').format('M')
                        option(value=index selected)=month
                    else
                        option(value=index)=month


    .col-sm#listSAP-container
            table.table.table-hover.mt-5(data-title='LIST OF SALES INVOICE')
                thead
                    tr  
                        th C贸digo Plan de Cuenta
                        th Monto al Debe Moneda Base
                        th Monto al Haber Moneda Base
                        th Descripci贸n Movimiento
                        th C贸digo Auxiliar
                        th Tipo Documento
                        th Nro. Documento
                        th Fecha Emisi贸n Docto.(DD/MM/AAAA)
                        th Fecha Vencimiento Docto.(DD/MM/AAAA)
                        th Tipo Docto. Referencia
                        th Nro. Docto. Referencia
                        th Monto 1 Detalle Libro
                        th Monto 2 Detalle Libro
                        th Monto Suma Detalle Libro

