mixin renderSelectField(choices,name,label,value,errors)
    if (errors)
        if (errors[name])
            - errorClass = "is-invalid"
        else
            - errorClass = "is-valid"
    else
       - errorClass = ""

    - classes=`form-control ${errorClass}`

    if (label)
        label(for=name)=label
    select(id=name class=classes name=name value=value)&attributes(attributes)
        each text,val in choices
            if (val===value)
                option(value=val selected)=text
            else    
                option(value=val)=text
    if (errors && errors[name])
        .invalid-feedback=errors[name]