extends one.pug

include ../mixin/conditionalBadge.pug
include ../mixin/form/renderFieldfromObj.pug

block append scripts
  script(src="https://maps.googleapis.com/maps/api/js?key="+gmapApiKey+"&callback=initMap" async defer)

block content
  
  .row
    .col-md
      .d-flex.flex-wrap.mt-5.ml-2
          
          .card.mx-3.flex-grow-1
            .card-header.card-heading-dark.mb-3 PRELIMINARY BOS COSTS
            table.table
                  tr
                    th Electrical works
                    td=prj.name
                  tr
                    th Civil works
                    td=prj.region
                  tr
                    th Mechanical works
                    td=prj.province
                  tr
                    th Overall BOS Costs
                    td=prj.city
                  tr
                    th Overall BEC's BOS Costs
                    td=prj.address

          .card.mx-3.flex-grow-1
            .card-header.card-heading-dark.mb-3 SUMMARY ON EVC RANKING
            table.table
                  tr
                    th Score
                    td=prj.exclusivity
                  tr
                    th Ranking
                    +renderFieldfromObj(settingsprj.contract_type,(null===prj ? '' : prj.contract_type),errors)
                  tr
                    th Judgment
                    +renderFieldfromObj(settingsprj.contract_duration,(null===prj ? '' : prj.contract_duration),errors)
                  tr
                    th Priority
                    td=prj.contract_renewal