extends one.pug

include ../mixin/conditionalBadge.pug
include ../mixin/form/renderFieldfromObj.pug

block append scripts
  script(src="https://maps.googleapis.com/maps/api/js?key="+gmapApiKey+"&callback=initMap" async defer)

block content
  .row
    .col-md
      .d-flex.flex-wrap.ml-2
        if currentUser.roles >= 1
          a(class="btn btn-backend m-3" href="/projects/edit/" + prj.id ) Edit Project
          a(class="btn btn-backend m-3" href="/projects/send/" + prj.id ) Send to Mercatus
  .row
    .col-md
      .d-flex.flex-wrap.mt-5.ml-2
         
          .card.mx-3.flex-grow-1
              .card-header.card-heading-dark.mb-3 PROJECT INFO
              table.table
                    tr
                      th Name
                      td=prj.name
                    tr
                      th Opening Date
                      td=prj.opening_date
                    tr
                      th Closing Date
                      td=prj.closing_date
                    tr
                      th Status
                      td=prj.status
  .row
    .col-md
      .d-flex.flex-wrap.mt-5.ml-2
          
          .card.mx-3.flex-grow-1
            .card-header.card-heading-dark.mb-3 GENERAL DATA
            table.table
                  tr
                    th Region
                    td=prj.region
                  tr
                    th Province
                    td=prj.province
                  tr
                    th City
                    td=prj.city
                  tr
                    th Address
                    td=prj.address
                  tr
                    th Owner's Parking Area
                    td=prj.ownerparkarea
                  tr
                    th Contact
                    td=prj.contact
                  tr
                    th Type of Proponent
                    +renderFieldfromObj(settingsprj.proponent_type,(null===prj ? '' : prj.proponent_type),errors)
                  tr
                    th Proponent's Name
                    td=prj.proponent_name

          .card.mx-3.flex-grow-1
            .card-header.card-heading-dark.mb-3 CONTRACTUAL DATA
            table.table
                  tr
                    th Exclusivity
                    td=prj.exclusivity
                  tr
                    th Type of Contract
                    +renderFieldfromObj(settingsprj.contract_type,(null===prj ? '' : prj.contract_type),errors)
                  tr
                    th Duration of Contract
                    +renderFieldfromObj(settingsprj.contract_duration,(null===prj ? '' : prj.contract_duration),errors)
                  tr
                    th Contract Renewal
                    td=prj.contract_renewal
                  tr
                    th Notes
                    td=prj.notes
  .row
    .col-md
      .d-flex.flex-wrap.mt-5.ml-2
      
          .card.mx-3.flex-grow-1
            .card-header.card-heading-dark.mb-3 INPUT ON BOS
            table.table
                  tr
                    th EVC Installation
                    +renderFieldfromObj(settingsprj.evc_installation,(null===prj ? '' : prj.evc_installation),errors)
                  tr
                    th Cable Routing Installation
                    +renderFieldfromObj(settingsprj.cable_routing_instal,(null===prj ? '' : prj.cable_routing_instal),errors)
                  tr
                    th Cabling Routing
                    +renderFieldfromObj(settingsprj.cabling_routing,(null===prj ? '' : prj.cabling_routing),errors)
                  tr
                    th Cabling Routing Type
                    +renderFieldfromObj(settingsprj.cabling_routing_type,(null===prj ? '' : prj.cabling_routing_type),errors)
                  tr
                    th Number of EVC
                    +renderFieldfromObj(settingsprj.evc_score,(null===prj ? '' : prj.number_evc),errors)
                  tr
                    th Distance POD-EVC
                    td=prj.distance_pod_evc
                  tr
                    th BEC's percentage on BOS CapEx
                    td=prj.BEC_perc_BOS_CapEx
                  tr
                    th BEC's cap on BOS CapEx
                    td=prj.BEC_cap_BOS_CapEx

          .card.mx-3.flex-grow-1
            .card-header.card-heading-dark.mb-3 OTHER INFORMATION
            table.table
                  tr
                    th Type of Area
                    +renderFieldfromObj(settingsprj.area_type,(null===prj ? '' : prj.area_type),errors)
                  tr
                    th Type of Site
                    +renderFieldfromObj(settingsprj.site_type,(null===prj ? '' : prj.site_type),errors)
                  tr
                    th Type of Installation
                    +renderFieldfromObj(settingsprj.installation_type,(null===prj ? '' : prj.installation_type),errors)
                  tr
                    th Type of Access
                    +renderFieldfromObj(settingsprj.access_type,(null===prj ? '' : prj.access_type),errors)
                  tr
                    th Hours of Access
                    td=prj.access_hours
                  tr
                    th Nr. Other EVCs present within 30km
                    td=prj.Nr_other_evcs_near
